* {
   margin: 0px; }

 .header_main {
   width: 100%;
   height: 130px;
   background: white;
   position: fixed;
   top: 0;
   border-bottom: 3px #fcb950 solid;
   z-index: 9999; }

 .head_wrapper {
   max-width: 1200px;
   margin: 0 auto;
   box-sizing: border-box; }

 .head_logo {
   display: inline-block;
   height: 100%;
   box-sizing: border-box;
   margin-left: 10px; }